<template>
  <div class="pa-4">
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
   
  <v-data-table

    :headers="headers"
    :items="desserts"
    sort-by="calories"
    class="elevation-1"
  >
    <template v-slot:top>

      <v-toolbar flat>
        <v-toolbar-title>LISTA </v-toolbar-title>
        <v-divider class="mx-4" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on, attrs }">
            <v-btn color="primary" dark class="mb-2" v-bind="attrs" v-on="on">
              + AREA - DEPARTAMENTO
            </v-btn>
          </template>


          <v-card>
            <v-card-title>
              <span class="text-h6">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                    <v-text-field
                      v-model="editedItem.nombre"
                      label="AREA - DEPARTAMENTO"
                    ></v-text-field>
                </v-row>
                <v-row>
                  <v-text-field
                      v-model="editedItem.nombreEncargado"
                      label="ENCARGADO"
                    ></v-text-field>
                </v-row>
                <v-row>
                    <v-text-field
                      v-model="editedItem.numeroFuncionario"
                      label="NUMERO DE FUNCIONARIOS"
                    ></v-text-field>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="close"> Cancel </v-btn>
              <v-btn color="blue darken-1" text @click="save"> Save </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="500px">
          <v-card>
            <v-card-title class="text-h5"
              >Are you sure you want to delete this item?</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancel</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>

    <template v-slot:actions="{ item }">
      <v-icon small class="mr-2" @click="editItem(item)"> mdi-pencil </v-icon>
      <v-icon small @click="deleteItemConfirm(item.id)"> mdi-delete </v-icon>
    </template>

    <!-- <template v-slot:no-data>
      <v-btn color="primary" @click="initialize"> Reset </v-btn>
    </template> -->
  </v-data-table>


</div>
</template>


<script>
import axios from "axios";
export default {
  data: () => ({
    //SNACKBAR
    snack: false,
      snackColor: "",
      snackText: "",
      // END SNACKBAR
    dialog: false,
    dialogDelete: false,
    headers: [
      /* {
          text: 'Dessert (100g serving)',
          align: 'start',
          sortable: false,
          value: 'nombre',
        }, */
        {
          text: "ID",
          //align: "start",
          filterable: false,
          value: "id",
        },
      { text: "AREA - DEPARTAMENTO", value: "nombre" },
      { text: "ENCARGADO", value: "nombreEncargado" },
      { text: "# FUNCIONARIOS", value: "numeroFuncionario" },
      //{ text: 'Fat (g)', value: 'id' },
      //{ text: 'Carbs (g)', value: 'estado' },
      //{ text: 'Protein (g)', value: 'estado' },
     // { text: "ACCIONES", value: "actions", sortable: false },
    ],
    desserts: [],
    editedIndex: -1,
    //VERIFICAR
    editedItem: {
      nombre: [],
      nombreEncargado: [],
      //estado: true,
      /*  fat: 0,
        carbs: 0,
        protein: 0, */
    },
    //VERIFICAR
    defaultItem: {
      //nombre: '',
      // estado: 0,
      nombre: [],
      nombreEncargado: [],
      //  estado: true,
      /*   fat: 0,
        carbs: 0,
        protein: 0, */
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "FORMULARIO" : "Edit Item";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    //this.initialize();
    // ADICIONADO PARA OBTENER
    this.obtenerLista();
  },

  methods: {
    initialize() {
      //VERIFICAR
      this.desserts = [];
      this.obtenerLista();
    },

    obtenerLista() {
      this.overlay = true,
      axios.get("https://render-production-1ad2.up.railway.app/area/list").then((Response) => {
        console.log(Response);
        this.desserts = Response.data;
        this.overlay = false;

          this.snack = true;
          this.snackColor = 'success'
          this.snackText = "LISTA CARGADA";
      });
    },

    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    /* editItem (id) {
        this.dialog = true
        axios.put("https://localhost:44333/api/tarea/"+ id, this.editedItem).then(() => {
          //console.log(Response);  
          this.obtenerLista();        
        }).catch(error => {
          console.error(error);
        })
        this.close()
        
      }, */

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm(id) {
      if (confirm("are you sure?"))
        axios
          .delete("https://localhost:44333/api/tarea/" + id)
          .then((Response) => {
            console.log(Response);
            this.obtenerLista();
          })
          .catch((error) => {
            console.error(error);
          });
      this.closeDelete();
    },

    /* DeleteUser(id, index) {
    	if(confirm('are you sure?'))
        axios.delete('/api/artist/'+id)
          .then(resp => {
          this.artists.data.splice(index, 1);
        })
          .catch(error => {
          console.log(error);
        })
    }, */

    /* deleteItemConfirm () {
        this.desserts.splice(this.editedIndex, 1)        
        this.closeDelete()
      }, */

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      //EDITAR
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
        /* axios.put("https://localhost:44333/api/tarea/" + 3, this.editedItem).then(() => {
          this.obtenerLista();        
        }).catch(error => {
          console.error(error);
        }) */
      }
      //GUARDAR NUEVO
      else {
        axios
          .post("https://render-production-1ad2.up.railway.app/area/register", this.editedItem)
          .then((Response) => {
            console.log(Response);
            this.initialize();
          })
          .catch((error) => {
            console.error(error);
          });          
      }
      this.close();
    },

    

    /*  save () {
        if (this.editedIndex > -1) {
          Object.assign(this.desserts[this.editedIndex], this.editedItem)
        } else {
          this.desserts.push(this.editedItem)
        }
        this.close()
      }, */
  },
};
</script>