<template>
  <div class="pa-4">
    <v-card>
      <v-card-title>
        DATOS PERSONALES
        <v-spacer></v-spacer>
      </v-card-title>
      <v-simple-table>
        <template v-slot:default>
          <!-- <thead>
        <tr>
          <th class="text-left">
            
          </th>
          <th class="text-left">
            
          </th>
        </tr>
      </thead> -->
          <tbody>
            <tr v-for="item in datos" :key="item.titulo">
              <td>{{ item.titulo }}</td>
              <td>{{ item.descripcion }}</td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </v-card>
  </div>
</template>

<script>
import HelloWorld from "../components/HelloWorld";

export default {
  name: "Home",

  components: {
    HelloWorld,
  },
  data() {
    return {
      datos: [
        {
          titulo: "Nombres:",
          descripcion: "Miguel Franz",
        },
        {
          titulo: "Apellidos:",
          descripcion: "Jallaza castro",
        },
        {
          titulo: "Edad:",
          descripcion: "35 años",
        },
        {
          titulo: "Nacionalidad:",
          descripcion: "Boliviano",
        },
        {
          titulo: "Email:",
          descripcion: "franzmjc@gmail.com",
        },
        {
          titulo: "# Celular:",
          descripcion: "72580450",
        },
      ],
    };
  },
};
</script>
