<template>
  <div class="pa-4">
    <!-- FUNCION DE CARGADO DE PAGINA   -->
    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-card>
    <!-- FIN -->
  
      <!-- <v-responsive :aspect-ratio="16/9"> -->

      <!-- <v-card-text>
          This card will always be 16:9 (unless you put more stuff in it)
        </v-card-text> -->

      <v-card-title>
        LISTA
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Buscar - area o encargado o numero de funcionarios"
          single-line
          hide-details
          clearable
        ></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="desserts" :search="search">
      </v-data-table>

      <!-- 
      </v-responsive> -->
    </v-card>
    <v-snackbar v-model="snack" :timeout="3000" :color="snackColor">
      {{ snackText }}

      <template v-slot:action="{ attrs }">
        <v-btn v-bind="attrs" text @click="snack = false"> Close </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      search: "",

      //SNACKBAR
      snack: false,
      snackColor: "",
      snackText: "",
      // END SNACKBAR

      headers: [
        {
          text: "ID",
          //align: "start",
          filterable: false,
          value: "id",
        },
        {
          text: "AREA - DEPARTAMENTO",
          //align: "start",
          //filterable: false,
          value: "nombre",
        },
        {
          text: "ENCARGADO",
          //align: "start",
          //filterable: false,
          value: "nombreEncargado",
        },
        {
          text: "# FUNCIONARIOS",
          //align: "start",
          //filterable: false,
          value: "numeroFuncionario",
        }
      ],
      desserts: [],
      overlay: false,
    };
  },
  methods: {
    obtenerLista() {
        this.overlay = true,
        axios.get("https://render-production-1ad2.up.railway.app/area/list").then((Response) => {
          console.log(Response);
          this.desserts = Response.data;
          this.overlay = false;
          this.snack = true;
          this.snackColor = 'success'
          this.snackText = "LISTA CARGADA";
        });
    },
  },
  created: function () {
    this.obtenerLista();
  },
};
</script>