<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" app>
      <v-list-item>
        <v-list-item-avatar>
            <v-img src="https://cdn.vuetifyjs.com/images/john.png"></v-img>
          </v-list-item-avatar>
        <v-list-item-content>          
          <v-list-item-title class="text-h6"> Mike </v-list-item-title>
          <v-list-item-subtitle> Jc </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>


      <v-divider></v-divider>

      <v-list dense nav>
        <v-list-item v-for="item in items" :key="item.title" :to="item.to" link>
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="#fcb69f"
      dark
      src="https://picsum.photos/1920/1080?random"
      prominent
    >
      <template v-slot:img="{ props }">
        <v-img
          v-bind="props"          
          gradient="to top right, rgba(19,84,122,.5), rgba(128,208,199,.8)"
        ></v-img>
      </template>

      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-app-bar-title>Proyecto Final Vue js - Módulo 6</v-app-bar-title>

      <v-spacer></v-spacer>

      <!-- <v-btn icon>
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>

      <v-btn icon>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn> -->
    </v-app-bar>

    <v-main>
      <!--  -->
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: null,
    items: [
      { title: "Datos", icon: "mdi-view-dashboard", to: "/datos" },
      //{ title: "Datos Personales", icon: "mdi-checkbox-intermediate", to: "/datos" },      
      { title: "Lista y Busqueda - Area", icon: "mdi-checkbox-intermediate", to: "/lista" },
      { title: "Lista y Nuevo Registro - Area", icon: "mdi-checkbox-intermediate", to: "/area" },
      { title: "Lista y Busqueda - Activo", icon: "mdi-checkbox-intermediate", to: "/lista2" },
    ],
  }),
};
</script>